@inject ISqlData db
@inject DialogService dialogService

<h3>Crear Tipo de Documento</h3>

<RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <EditForm Model="tipoDocumento" method="post" OnValidSubmit="CreateTipoContrato">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenFieldset Text="Tipo de Documento">
                <RadzenStack>
                    <RadzenFormField Text="Nombre" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@tipoDocumento.Name" />
                    </RadzenFormField>
                    <RadzenFormField Text="Descripción" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="tipoDocumento.Description" />
                    </RadzenFormField>
                </RadzenStack>
            </RadzenFieldset>
            <button type="submit" class="btn btn-primary">Crear</button>
        </EditForm>
    </RadzenStack>
</RadzenStack>

@code {
    private AgencyModel tipoDocumento = new();

    private async Task CreateTipoContrato()
    {
        tipoDocumento = new();
        dialogService.Close(true);
    }
}
