@inject ISqlData db
@inject DialogService dialogService

<h3>Editar</h3>

<RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <EditForm Model="tipoDocumentoToUpdate" method="post" OnValidSubmit="UpdateTipoContrato">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenFieldset Text="Tipo de Documento">
                <RadzenStack>
                    <RadzenFormField Text="Nombre" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@tipoDocumentoToUpdate.Name" />
                    </RadzenFormField>
                    <RadzenFormField Text="Descripción" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="tipoDocumentoToUpdate.Description" />
                    </RadzenFormField>
                </RadzenStack>
            </RadzenFieldset>
            <button type="submit" class="btn btn-primary">Editar</button>
        </EditForm>
    </RadzenStack>
</RadzenStack>




@code {
    private AgencyModel tipoDocumentoToUpdate = new();

    [Parameter] public int Id { get; set; }

    private async Task UpdateTipoContrato()
    {
        // await db.UpdateTipoDocumento(tipoDocumentoToUpdate);
        dialogService.Close(true);
    }

    private async Task RefreshData()
    {
        // tipoDocumentoToUpdate = await db.DetailTipoDocumento(Id);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshData();
    }
}
