@inject IEmployeeRepository db
@inject DialogService dialogService

<h3>Editar</h3>

<RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <EditForm Model="positionToUpdate" method="post" OnValidSubmit="UpdateAgency">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenFieldset Text="Tipo de Cargo">
                <RadzenStack>
                    <RadzenFormField Text="Nombre" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="@positionToUpdate.Name" />
                    </RadzenFormField>
                    <RadzenFormField Text="Descripción" Variant="Variant.Outlined">
                        <RadzenTextBox @bind-Value="positionToUpdate.Description" />
                    </RadzenFormField>
                </RadzenStack>
            </RadzenFieldset>
            <button type="submit" class="btn btn-primary">Editar</button>
        </EditForm>
    </RadzenStack>
</RadzenStack>




@code {
    private PositionModel positionToUpdate = new();

    [Parameter] public int Id { get; set; }

    private async Task UpdateAgency()
    {
        await db.UpdatePosition(positionToUpdate);
        dialogService.Close(true);
    }

    private async Task RefreshData()
    {
        positionToUpdate = await db.GetPositionByID(Id);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshData();
    }
}
